#reservations{
  transition: .3s;
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  margin: 20px;
  margin-top: 0px;
  border-radius: 5px;
  box-shadow: var(--inset-shadow);

#time-slots{
  white-space: nowrap;
  overflow: scroll;

}

.time-slot{
  margin:20px;
  vertical-align: top;
display: inline-block;
margin-right:0;

&:last-child {
margin-right: 20px;
}     
    }

.reservations{
  font-size: 1rem;
  margin-left:10px;         
  .time{
    font-size: 1.25rem;
  }
}


.reservation{
  width: fit-content;
  cursor: pointer;
  background:white;
  box-shadow: var(--shadow);
  margin: 20px;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 5px;

  &.confirmed{
    background:var(--theme);
    color:var(--light)
  }

  &#selected-reservation{
    transition: .3s;
background: var(--green);
color:var(--light);
  }
}
  

 


  #no-reservations{
    padding-bottom: 20px;
    span{
      margin: 10px 20px;
    display: inline-block;
    }
    svg{
      width: calc(100% - 40px);
      margin: auto;
      display: block;
      height: 200px;
    }
  }
}