#reservations{
  margin: 20px;
  margin-top: 0px;
  border-radius: 5px;
  box-shadow: var(--inset-shadow);

#time-slots{
  white-space: nowrap;
  overflow: scroll;

}

.time-slot{
  font-family: var(--primary-font);
  margin:20px;
  vertical-align: top;
display: inline-block;

margin-right:0;
&:last-child {
margin-right: 20px;
}     
    }

.reservations{
  font-size: 1rem;
  margin-left:10px;         
}


.reservation{
  position: relative;
  width: fit-content;
  cursor: pointer;
  background:white;
  box-shadow: var(--shadow);
  margin: 20px;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 5px;

  &.confirmed{
    opacity: .25 !important;
  }

  &.selected-reservation{
    transition: .3s;
background: var(--green);
opacity: 1 !important;
  }

  .note-notification{
color:var(--yellow);
margin-left:10px;
font-size: 20px;
  }

  .reservation-name{
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .reservation-people{
    margin-left: 5px;
  }
}
  

 


  #no-reservations{
    span{
      margin: 20px;
    display: inline-block;
    }
    svg{
      width: calc(100% - 40px);
      margin: auto;
      display: block;
      height: 200px;
    }
  }
}

