#features{
  overflow: scroll;
  height: 100%;

  .feature{
    margin: 40px;
    padding: 20px;
    background: white;
    border-radius: 5px;
    max-width: 400px;

    box-shadow: var(--shadow);
  }

  .feature-icon{
    font-size:150px;
    text-align: right;
    
  }
  .feature-name{
    font-size: 2rem;
    margin-bottom:20px;
    text-align: left;
    color:var(--theme);
  }
  .feature-description{
    font-size: 1rem;
    text-align: left;
    font-family:var(--secondary-font);
  }

}