#login-page{
  text-align: center;

}

#app-name{
font-size: 3rem;
margin: 10px 20px 30px 20px ;
color:var(--theme);
text-align: left;
sub{
  font-size: 1rem;
}
}


#about{
  box-sizing: border-box;
  font-family: var(--secondary-font);
  color:black;
  background:white;
  padding: 20px 0 10px 0;
  font-size:.75rem;
  div{
    font-size: 1rem;
    margin: 5px;
    font-family: var(--primary-font);
  }
}

#try-now-button{
  background: var(--green);
  color:black;
}

#try-now-button,#sign-up-button{
  margin:0 20px;
  }

  #login-banner-img{
   width:calc(100% - 40px);height: 300px;
   margin: 20px;
  }


  .github{
    font-size: 2rem;
    color:var(--theme);
  }

