
#bottom-bar{
  width: 100%;
  background:white;
height: 50px;
position: fixed;
right:0;bottom:0;
}

#open-reservation-button{
  position: absolute;
  right:0;bottom:0;
  background:white;
  margin:30px;
  padding: 5px;
  box-shadow: var(--shadow);
  border-radius: 5px;
  line-height: 0;
  i{
    color:black;
    font-size: 2rem;
  }
}

#close-reservation-form{
  i{
    font-size: 1.5rem;
    color:black;
  }
  border-radius:0 5px 0 5px;
  position: absolute;
  top: 0;right:0;
  background:white;
  margin: 0;
}


#reservation-form{
  z-index: 100;
padding-bottom: 20px;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  bottom: 0px;
  background: white;
  box-shadow: var(--shadow);
  border-radius: 5px 5px 0 0;

  .input{
input{
  color:black;
  font-family: var(--secondary-font);
}
    margin:10px;
    i{
      font-size:2rem;
      margin-right: 5px;
    }
    textarea{
      font-family: var(--secondary-font);
      appearance: none;
      display: block;
      resize: none;
      border-radius: 5px;
      border: none;
      box-shadow: var(--inset-shadow);
      padding: 5px 10px;
    }
  } 
}

#reservation-inputs{
  background:var(--light);

  height:300px;
  overflow: scroll;
  box-shadow: var(--inset-shadow);
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}


#reservation-buttons{
  margin:60px;
  button{
    margin:15px;
    background:white;
    color:black;
  }
  #add-reservation,#update-reservation{
    position: absolute;
    right:0;bottom:20px;
  }
  #delete-reservation{
    position: absolute;
    left:0;bottom:20px;
  }
}



#servers{

  box-shadow: var(--inset-shadow);
  overflow: scroll;
  white-space: nowrap;
border-radius: 5px;
  .server{
    background: white;
    color:black;
    margin:10px;
    margin-right:0;
    transition:.3s;
    &:last-child {
    margin-right: 20px;
    }   
    display: inline;
    &.reservation-server{
      background:var(--theme);
      color:white;
      
    }
  }


}