#main{
  height: 100%;
  overflow: scroll;

  &::after {
    content: "";
    display: block;
    height: 400px;
  }
}





@media(min-width: 1000px){

#main{
  width:350px;
  position: absolute;
  box-shadow: var(--shadow);
}

#bottom-bar{
  width:350px;
  left:0;
}

#open-reservation-button{
  left:0;right:unset;
}

#reservation-form{
  width:350px;
}

#features{
  position: fixed;
  top:0;right:0;
  width: calc(100% - 350px);
  padding: 20px;
  box-sizing: border-box;
}

}