#main{
  height: 100%;
  overflow: scroll;

  &::after {
    content: "";
    display: block;
    height: 400px;
  }
}







@media(min-width: 1000px){

#main{
  width:350px;
  position: absolute;
  box-shadow: var(--shadow);
}

#open-reservation-button{
  left:0;right:unset;
}

#reservation-form{
  width:350px;
}

}