#main{
  height: 100%;
  overflow: scroll;

  &::after {
    content: "";
    display: block;
    height: 400px;
  }
}


#draw {
  display: block;
  div {
    position: absolute;
    right: 0;
    box-shadow: var(--inset-shadow);
  }

  .erase {
    position: absolute;
    right: 0px;
    top: 20px;
    background: white;
    border-radius: 5px 0 0 5px;
  }
}



@media(min-width: 1000px){

#main{
  width:350px;
  position: absolute;
  box-shadow: var(--shadow);
}
  #ipad{
position:fixed;
right: 0;top:0;
  }

  #open-reservation-button{
    left:0;right:unset;
  }

  #reservation-form{
    width:350px;
  }
}