#account{

  
}

#user-img{
    position: absolute;
    top:0;right:0;margin: 20px;
    cursor: pointer;
  height: 50px;width: 50px;
  box-shadow:var(--shadow);
  border-radius:5px;
  font-size: 40px;
  text-align: center;
  overflow: hidden;
  background:white;
}

#top-bar{
  box-shadow:var(--shadow);
  padding: 10px;
  padding-left: 60px;

  button{
    margin: 10px;
    background:white;
    color:black;
  }

}

#close-top-bar{
  background:white;
  cursor: pointer;
box-shadow: var(--shadow);
padding: 10px;
position: absolute;
border-radius: 0 5px 5px 0;
left: 0;
width: 30px;
overflow:hidden;
}

