#account{

  
}

#user-img{
    position: absolute;
    top:0;right:0;margin: 20px;
    cursor: pointer;
  height: 50px;width: 50px;
  box-shadow:var(--shadow);
  border-radius:5px;
}

#top-bar{
  
  box-shadow:var(--shadow);
  padding: 10px;

  button{
    margin: 10px;
    background:white;
    color:black;
  }

}

#close-top-bar{
  background:white;
  cursor: pointer;
box-shadow: var(--shadow);
padding: 10px;
position: absolute;
border-radius: 5px 0 0 5px;
right: 0;
}

