#settings{
  position: fixed;
  left: 0;
  top:0;
  background: white;
  width: 100%;
  margin: auto;
  height: 100%;
  z-index: 100;


  #close-settings{
      background:white;
      cursor: pointer;
    box-shadow: var(--shadow);
    padding: 10px;
    position: absolute;
    border-radius: 0 5px 5px 0;
    left: 0;
    top:20px;
    width: 30px;
  }

}
