#settings{
  position: fixed;
  left: 0;
  top:0;
  background: var(--light);
  width: 100%;
  margin: auto;
  height: 100%;
  z-index: 200;


  #close-settings{
      background:white;
      cursor: pointer;
    box-shadow: var(--shadow);
    padding: 10px;
    position: absolute;
    border-radius: 0 5px 5px 0;
    left: 0;
    top:10px;
    width: 30px;
    overflow:hidden;

  }

  #servers-setting{
    margin-left: 70px;
    margin-top:20px;
    max-width: 500px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--shadow);

    .add-server{
      padding: 5px;
      display: block;
      width: fit-content;
      border-radius: 5px;
      cursor: pointer;
      input{
        appearance: none;
        box-shadow: var(--shadow);
      }
    }
  }

}
