#login-page{
  text-align: center;

}

#app-name{
font-size: 3rem;
margin: 10px 20px 30px 20px ;
text-align: left;
sub{
  font-size: 1rem;
}
}


#about{
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: left;
  box-sizing: border-box;
  font-family: var(--secondary-font);
  color:black;
  background:white;
  padding: 30px 20px;
  font-size:.75rem;
  a{
    color:var(--blue);
    display: block;
    font-size: 1rem;
    margin: 5px 0;
    font-family: var(--primary-font);
  }
  
}


.github{
  color:black;
  font-size: 2rem;
  box-shadow: var(--shadow);
  border-radius:5px;
  padding: 5px;
  position: absolute;
  right: 20px;
  top:20px;
}



#try-now-button{
  background: var(--theme);
  color:white;
}


  #login-banner-img{
   width:calc(100% - 40px);height: 300px;
   margin: 20px;
  }

