#account{
  position: absolute;
  top:0;right:0;margin: 20px;
cursor: pointer;
  
}

#user-img{
  height: 50px;width: 50px;
  box-shadow:var(--shadow);
  border-radius:5px;
}

#settings{
  position: absolute;
  box-shadow:var(--shadow);
  right: 0px;top:60px;
  padding: 10px;
  border-radius: 5px;
  background: var(--light);

  button{
    margin: 10px;
  }

}