.react-calendar{
  margin:20px;
  padding: 10px;
width:calc(100% - 40px);
border:none;
border-radius: 5px;
box-shadow: var(--shadow);
padding-bottom: 10px;

  button{
  box-shadow:none;
}

  abbr[title] {
      text-decoration: none;
    }

    .react-calendar__tile{
 transition: .3s;
  }
  
.react-calendar__navigation__arrow{
  line-height: 0;
}

  .react-calendar__month-view__weekdays{
    font-family: var(--primary-font);
  }


  .react-calendar__navigation__label__labelText{
  font-size:1rem;
}

.react-calendar__navigation__arrow{
  font-size: 30px;
}

}
