#day-summary{
  margin: 20px;
  font-size: 1rem;
  div{
    margin: 5px;
  }
  background: white;
  box-shadow: var(--shadow);
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
}
#people-numbers{
  margin-bottom: 5px;
}