#canvas{
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 350px);
  height: 100%;
}

#canvas-reservations{
  margin: 20px;
  box-sizing: border-box;
  height: 75%;
  width: calc(100% - 40px);
  border-radius: 5px;
  position: absolute;
  top:0;right:0;
  box-shadow: var(--inset-shadow);
}

.canvas-reservation{
 width:70px;
  font-size: .75rem;
  box-shadow: var(--shadow);
  border-radius: 5px;
  padding: 5px;
background:white;  
transition: background .3s;
  display: inline-block;
  position: absolute;
  &.confirmed{
    opacity: .25 !important;
  }
  &.selected-reservation{
background: var(--green);
z-index: 100;
opacity: 1 !important;
  }

  .reservation-name{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .reservation-server{
    position: absolute;
    top: -15px;
    right: -15px;
    text-transform: uppercase;
    padding: 5px;
    box-shadow: var(--shadow);
    background: var(--theme);
    color: white;
    border-radius: 5px;
  }
  .reservation-note{
    color:var(--yellow);
margin-left:10px;
font-size: 20px;
position: absolute;
bottom:0;right:0;
margin:2px 4px;
  }
}

#server-tally{
  padding: 10px;
  position: absolute;
  bottom: 0;
  left:0;
  margin: 20px;
  box-shadow: var(--shadow);
  border-radius: 5px;
  background:white;

  .server{
    margin: 10px;
    font-size: .75rem;
    text-transform: uppercase;
  }
}

#canvas-draw{
  cursor: none;
  box-shadow: var(--inset-shadow);
  margin: 20px;
  border-radius: 5px;
  background:white;
    position: absolute;
    left: 0;
    top: 0;
    touch-action: none;
}

#canvas-draw-buttons{
  bottom: 0;
    right: 0;
    margin: 20px;
    position: fixed;
}