#login-page{
  text-align: center;

}

#app-name{
font-size: 3rem;
margin: 20px ;
color:var(--theme);
}


#about{
  margin: 20px;
  font-family: var(--secondary-font);
  color:black;
}

#try-now-button{
  background: var(--green);
  color:black;
}

#try-now-button,#sign-up-button{
  margin:0 20px;
  }

  #login-banner-img{
   width:calc(100% - 40px);height: 200px;
   margin: 20px;
  }


