:root{
  --font:'Ubuntu', sans-serif;
  --shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --inset:black 1px 1px 3px 0 inset;
  --theme:#6b63ff;
  --green:#3acc6c;
  --red:#d50000;
  
  --dark:rgb(30,30,30);
  --light:rgb(240,240,240);
  }

  ::-webkit-scrollbar {
    display: none;
    }
    